<head>
  <title>Khem Labs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato|Play|Roboto" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" type="text/css">
  <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.min.css" type="text/css">
  <link rel="stylesheet" href="./css/khemlabs.css" type="text/css">
  <link rel="shortcut icon" href="./img/favicon.ico" />
  <link rel="icon" type="image/png" href="./img/favicon.png" />
  <meta name="keywords" content="html,html5,html 5,css,css3,css 3,json,api,web development,javascript,angularjs,angular js,reactjs,react js,redis,mongodb,postgresql,postgres,python,game development,mobile,responsive,php,amazon,android,linux,open source">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="alternate" hreflang="es" href="http://khemlabs.com/es" />
  <link rel="alternate" hreflang="en" href="http://khemlabs.com/en" />
</head>