<!DOCTYPE html>
<html lang="<%- lang %>">
<%- include partials/header.ejs %>
<body itemscope itemtype="http://schema.org/LocalBusiness">
  <%- body %>
  <%- include partials/footer.ejs %>
</body>
</html>
