.brand-logo
{
	font-family: 'Ubuntu';
	margin-left: 20px;
}

.hero
{
  background-color:#424242;
  overflow: hidden;
  background-image: url('../img/nodes.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
}

.limit-height-300
{
  height: 300px;
}

.hero-content
{
	color: #fff;
	font-size: 1.4em;
	text-shadow: 1px 2px 0 #000;
    font-family: 'Source Code Pro';
    padding-left: 30px;
}

.follow-wrapper{
  height: 130px;
}

.follow-content{
	color: #fff;
	font-size: 1.4em;
	text-shadow: 1px 2px 0 #000;
    font-family: 'Source Code Pro';
    text-align:center;
}

.card-content{
  text-align: justify;
  hyphens: auto;
}

#about-us{
    text-align: justify;
    hyphens: auto;
}

.card-title-black{
  color: #fff;
  padding: 20px;
  background-color: #212121;  
  text-align: center;
}

.margin-top-1 {
  margin-top: 1em;
 }

.margin-top-2 {
  margin-top: 2em;
 } 

.margin-bottom-1 {
  margin-bottom: 1em;
 }

.margin-bottom-2 {
  margin-bottom: 2em;
 } 

.margin-left-1 {
  margin-left: 1em;
 }

.margin-left-2 {
  margin-left: 2em;
 }