.brand-logo
{
	font-family: 'Ubuntu';
	/*padding-left: 4px;*/
}

.hero
{
	height: 300px;
    background-color:#424242;
	  overflow: hidden;
    background-image: url('../img/nodes.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
}

.hero-content
{
	color: #fff;
	font-size: 1.4em;
	text-shadow: 1px 2px 0 #000;
    font-family: 'Source Code Pro';
    padding-left: 30px;
}

.follow-wrapper{
  height: 130px;
}

.follow-content{
	color: #fff;
	font-size: 1.4em;
	text-shadow: 1px 2px 0 #000;
    font-family: 'Source Code Pro';
    text-align:center;
}

.card-content{
  text-align: justify;
  hyphens: auto;
}

#about-us{
    text-align: justify;
    hyphens: auto;
}
